body{
    margin: 50px 50px;
}
header{
    margin: 50px 50px 10px 50px;
    text-align: center;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-stretch:extra-expanded;
}

nav {
    background-color: #fff; 
    border-top: 3px solid black; 
    border-bottom: 3px solid black;
    position: sticky; 
    top: 0px;
    width: 100%;
    z-index: 100; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: #333; 
    font-family: sans-serif; 
    font-weight: 500; 
}

nav a:visited {
    color: #666; 
}

nav a:hover {
    color: #000; 
}

nav a.active {
    color: #007bff; 
}

h1{
margin: 30px 50px 10px 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-stretch:extra-expanded;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; 
}

.paragraph1 {
    grid-column: 1; 
    font-size: 22px;
    text-align: justify;
    margin: 12px;
}

.paragraph2 {
    grid-column: 2; 
    font-size: 22px;
    text-align: justify;
    margin: 12px;
}

#img1, #img2, #img3 {
    margin: 12px;
    grid-column: 3;
    width: 100%;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    display:inline;

}

h2{
    margin: 10px 50px 10px 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
p{
    padding:20px;
    margin: auto;
    font-size: 22px;
    text-align: justify;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

.para1{
    grid-column: 1 ;
    border-right: 1px solid black;
    margin:10px;
}

.sec1{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

.para2{
    grid-column:1;
}

.image{
    grid-column:2;
}

#img4{
    display: inline;
    justify-content: flex-end;
    align-items: flex-end;
    float:right;
    z-index:1;
    width: 450px;
}

footer{
    text-align: center;
}
