body{
    margin: 50px 50px;
}
header{
    margin: 50px 50px 10px 50px;
    text-align: center;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-stretch:extra-expanded;
}

nav {
background-color: #fff; 
border-top: 3px solid black; 
border-bottom: 3px solid black;
position: sticky; 
top: 0px;
width: 100%;
z-index: 100; 
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
text-align: center;
}

nav li {
display: inline-block;
padding: 10px 20px;
}

nav a {
text-decoration: none;
color: #333; 
font-family: sans-serif; 
font-weight: 500; 
}

nav a:visited {
color: #666; 
}

nav a:hover {
color: #000; 
}

nav a.active {
color: #007bff; 
}

h1{
margin: 30px 50px 10px 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-stretch:extra-expanded;
}

.img1{
float: right;
border: 1px solid #ccc; 
border-radius: 5px; 
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
margin: 15px;
}

.paragraph1{
padding:10px;
overflow: auto;
}

.img2{
float: left;
border: 1px solid #ccc; 
border-radius: 5px; 
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
margin: 15px;
}

.paragraph2{
padding:10px;
overflow: auto;
}

p{
text-align: justify;
padding: 55px;
font-size: 35px;
font-family: 'Times New Roman', Times, serif; 
}


.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.member1{
grid-column: 1;
}

.member2{
grid-column: 2;
}

.member3{
grid-column: 3;
}


footer{
text-align: center;
}